package templates

import "github.com/newtoallofthis123/noob_social/views"

templ PostPage(username string, post views.Post, content views.Content) {
	<div>
		<div>
			// @UserInfo(username)
		</div>
		<div class="postBody" id="body"></div>
		<form class="hidden" hx-post="/md" hx-target="#body" hx-trigger="load">
			<input type="hidden" name="body" value={ content.Body }/>
		</form>
	</div>
}
