package templates

import "github.com/newtoallofthis123/noob_social/views"

templ PostPage(username string, post views.Post, content views.Content) {
	<div>
		<div>
			@UserInfo(username)
		</div>
		<div>
			{ content.Body }
		</div>
	</div>
}
